
# Database configuration
DB_ROOT_PASSWORD=root
DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_DATABASE=dbdatabase
DB_EXTERNAL_PORT=5432
DB_PORT=5432
DB_HOST=localhost

# Gizmosql configuration
GIZMOSQL_USERNAME=gizmosqluser
GIZMOSQL_PASSWORD=gizmosqlpassword
GIZMOSQL_DATABASE=gizmosqldb
GIZMOSQL_EXTERNAL_PORT=31337
GIZMOSQL_PORT=31337
GIZMOSQL_HOST=localhost

# Directus configuration
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=d1r3ctu5
DIRECTUS_ADMIN_TOKEN=d1r3ctu5
DIRECTUS_PORT=8055
DIRECTUS_EXTERNAL_PORT=8055