
services:
  clickhouse:
    container_name: bafrapy_clickhouse
    image: clickhouse/clickhouse-server:23.9.5-alpine
    environment:
      - CLICKHOUSE_USER=${CH_USER}
      - CLICKHOUSE_PASSWORD=${CH_PASSWORD}
      - CLICKHOUSE_DB=${CH_DATABASE}
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    volumes:
      - clickhouse-data:/var/lib/clickhouse
      - clickhouse-log:/var/log/clickhouse-server
      - clickhouse-config:/etc/clickhouse-server
      - ./clickhouse-settings/custom-config.xml:/etc/clickhouse-server/config.d/custom-config.xml
      - ./clickhouse-settings/custom-user.xml:/etc/clickhouse-server/users.d/custom-user.xml
    ports:
      - ${CH_HTTP_EXTERNAL_PORT}:${CH_HTTP_PORT}
      - ${CH_NATIVE_EXTERNAL_PORT}:${CH_NATIVE_PORT}
    networks:
      - bafrapy-network

  database:
    image: mysql:8.4
    container_name: bafrapy-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_DEFAULT_AUTH: caching_sha2_password 
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - bafrapy-network
    ports:
      - "${DB_EXTERNAL_PORT}:${DB_PORT}" 

  directus:
    build:
      context: ./directus
      dockerfile: Dockerfile
    container_name: bafrapy-directus
    networks:
      - bafrapy-network
    ports:
      - ${DIRECTUS_EXTERNAL_PORT}:${DIRECTUS_PORT}
    volumes:
      - ${DIRECTUS_BASE_PATH}/uploads:/directus/uploads
      - ${DIRECTUS_BASE_PATH}/extensions:/directus/extensions
      - ${DIRECTUS_BASE_PATH}/templates:/directus/templates
    depends_on:
      - database

    environment:
      DB_CLIENT: mysql
      DB_HOST: bafrapy-mysql
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}

      ADMIN_EMAIL: ${DIRECTUS_ADMIN_EMAIL}
      ADMIN_PASSWORD: ${DIRECTUS_ADMIN_PASSWORD}
      ACCESS_TOKEN_TTL: 1d
      API_TOKEN: ${API_TOKEN}
      FLOWS_ENV_ALLOW_LIST: API_TOKEN

  redis:
    container_name: bafrapy-redis
    image: redis:7.4.2
    hostname: bafrapy-redis
    restart:
      unless-stopped
    command: redis-server
    volumes:
      - redis-data:/data
    ports:
      - ${REDIS_PORT}:6379
    networks:
      - bafrapy-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2.2
    ports:
      - '8080:80'
    networks:
      - bafrapy-network
    environment:
      PMA_HOST: bafrapy-mysql
      PMA_USER: root
      PMA_PASSWORD: ${DB_ROOT_PASSWORD}
      UPLOAD_LIMIT: 200M
    depends_on:
      - database

networks:
  bafrapy-network:
    name: bafrapy-network
    driver: bridge

volumes:
  mysql-data:
    name: mysql-data
    external: true

  clickhouse-data:
    name: clickhouse-data
  clickhouse-config:
    name: clickhouse-config
  clickhouse-log:
    name: clickhouse-log

  redis-data:
    name: redis-data
